.ep { display:flex; flex-direction:column; overflow:hidden; }
.bc { display:flex; align-items:center; gap:5px; padding:3px 14px; font-size:11px; color:var(--t3); background:var(--b1); border-bottom:1px solid var(--bs); min-height:24px; flex-shrink:0; }
.ew { flex:1; overflow:hidden; }
