:root, .t-default {
  --b0:#09090f; --b1:#0e0e18; --b2:#13131f; --b3:#1a1a2a; --b4:#22223a;
  --bh:#1a1a2e; --bd:#1c1c30; --bs:#141422;
  --t1:#e0e0f0; --t2:#8585a8; --t3:#505070;
  --ac:#6c8cff; --acs:rgba(108,140,255,.12);
  --gr:#4ade80; --rd:#f87171; --rds:rgba(248,113,113,.12);
  --yl:#fbbf24; --pr:#a78bfa; --cy:#67e8f9; --or:#fb923c;
}
.t-dracula {
  --b0:#282a36; --b1:#21222c; --b2:#282a36; --b3:#343746; --b4:#44475a;
  --bh:#343746; --bd:#44475a; --bs:#343746;
  --t1:#f8f8f2; --t2:#bd93f9; --t3:#6272a4;
  --ac:#bd93f9; --acs:rgba(189,147,249,.15);
  --gr:#50fa7b; --rd:#ff5555; --rds:rgba(255,85,85,.15);
  --yl:#f1fa8c; --pr:#ff79c6; --cy:#8be9fd; --or:#ffb86c;
}
.t-light {
  --b0:#f5f5f5; --b1:#fff; --b2:#f0f0f0; --b3:#e8e8e8; --b4:#d0d0d0;
  --bh:#e6e9ff; --bd:#d4d4d4; --bs:#e0e0e0;
  --t1:#1e1e1e; --t2:#555; --t3:#999;
  --ac:#0066cc; --acs:rgba(0,102,204,.1);
  --gr:#16a34a; --rd:#dc2626; --rds:rgba(220,38,38,.1);
  --yl:#ca8a04; --pr:#7c3aed; --cy:#0891b2; --or:#ea580c;
}
